*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.o
*.txt
/Debug/*
/Release/*
/.settings/*
.project
.cproject
/Release/
/bin/*
CMake*
FDTD_Solver
cmake*
Makefile

!CMakeLists.txt

/server/node_modules
/server/npm-debug.log
/server/static
/server/secret.env

.idea
